// Colours
$color-black:#000;
$color-primary:#0f1d3a;
$color-contrasting:#e6470d;
$color-white:#FFF;

// Spacing
$spacer-0:0px;
$spacer-1:10px;
$spacer-2:20px;
$spacer-3:30px;
$spacer-4:40px;
$spacer-md:5px;

// Fonts
$font-md:16px;
$font-lg:20px;
$font-xlg:24px;
$font-logo:40px;